PORT=4000
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://admin:admin@blood.2guzy.mongodb.net/scoreboard?retryWrites=true&w=majority&appName=blood
ADMIN_EMAIL=rumon@mail.com
ADMIN_PASSWORD=00000000
JWT_SECRET=change-this-jwt-secret
JWT_EXPIRES_IN=1d
